DATABASE_URL=postgresql://postgres:password@localhost:5432/multirag_db

CHROMA_PERSIST_DIRECTORY=./chroma_db

OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=phi3

EMBEDDING_MODEL=nomic-embed-text

UPLOAD_DIRECTORY=./data/uploads